Package: com.zachatrocity.millstone
Name: Millstone
Depends: mobilesubstrate, com.cpdigitaldarkroom.gazelle
Version: 0.0.1
Architecture: iphoneos-arm
Description: An Awesome Custom Gazelle View
Maintainer: Zach Russell
Author: Zach Russell
Section: Addons (Gazelle)
Tag: purpose::extension, compatible::ios8, compatible::ios9
